aai-traversal/src/main/resources/schema/UebEventLogEntry.xsd

<!--

    ============LICENSE_START=======================================================
    org.onap.aai
    ================================================================================
    Copyright © 2017 AT&T Intellectual Property. All rights reserved.
    ================================================================================
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    ============LICENSE_END=========================================================

    ECOMP is a trademark and service mark of AT&T Intellectual Property.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="UebEventLogEntry">
	   <xs:sequence>
	   	  <xs:element type="xs:string" name="transactionLogEntryId"/>
	      <xs:element type="xs:string" name="notificationId"/>
	      <xs:element type="xs:string" name="topic"/>
	      <xs:element type="xs:string" name="action"/>
	      <xs:element minOccurs="0" type="xs:string" name="entityLink"/>
	      <xs:element type="xs:string" name="payload"/>
	      <xs:element type="xs:string" name="status"/>
	      <xs:element minOccurs="0" type="xs:string" name="owner"/>
	      <xs:element type="xs:long" name="lastUpdateTimestamp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UebEventLogEntries">
	   <xs:sequence>
	      <xs:element minOccurs="0" maxOccurs="unbounded" name="UebEventLogEntries" type="UebEventLogEntry"/>
       </xs:sequence>
     </xs:complexType>
</xs:schema>
