aai-traversal/src/main/resources/schema/UebEventLogEntry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="UebEventLogEntry">
	   <xs:sequence>
	   	  <xs:element type="xs:string" name="transactionLogEntryId"/>
	      <xs:element type="xs:string" name="notificationId"/>
	      <xs:element type="xs:string" name="topic"/>
	      <xs:element type="xs:string" name="action"/>
	      <xs:element minOccurs="0" type="xs:string" name="entityLink"/>
	      <xs:element type="xs:string" name="payload"/>
	      <xs:element type="xs:string" name="status"/>
	      <xs:element minOccurs="0" type="xs:string" name="owner"/>
	      <xs:element type="xs:long" name="lastUpdateTimestamp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UebEventLogEntries">
	   <xs:sequence>
	      <xs:element minOccurs="0" maxOccurs="unbounded" name="UebEventLogEntries" type="UebEventLogEntry"/>
       </xs:sequence>
     </xs:complexType>
</xs:schema>
